.slider {
    width: 100vw;
}

.slide {
    max-width: 540px;
    margin: 0 15px;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

.arrows {
    margin: 0 auto;
    width: 144px;
    display: flex;
    justify-content: space-between;
}

.btn_left:hover, .btn_right:hover {
    border: none;
    background-color: #755CDE;
}

.btn_left {
    background: url(../assets/icon-arrow-left.svg) no-repeat center;
}

.btn_right {
    background: url(../assets/icon-arrow-right.svg) no-repeat center;
}

.btn_left, .btn_right {
    border: none;
    width: 64px;
    height: 64px;
    border-radius: 38px;
    background-color: #030303;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .slide {
        width: 270px;
        margin: 0 7.5px;
    }
}

