@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

body {
    overflow-x: hidden;
    background-color: #FFF7F0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 71px;
    text-align: center;
    color: #030303;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #030303;
}

h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #7A746E;
}

.wrapper {
    margin: 0 auto;
    max-width: 1110px;
    padding: 0 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 34px;
    margin-bottom: 66px;
}

.pic {
    width: 64px;
    height: 64px;
}

.btn_a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FFF7F0;
    padding: 14px 45px;
    border-radius: 28px;
    background-color: #030303;
    text-align: center;
    cursor: pointer;
}

.btn_a:hover, .btn_a:focus {
    background-color: #755CDE;
}

.caption {
    max-width: 752px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.cards {
    height: 364px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 24px;
    margin-bottom: 136px;
}

.card {
    border-radius: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 24px;
    position: relative;
}

.thumb {
    position: absolute;
    top: 24px;
    right: 24px;
}

.subscription {
    position: absolute;
    bottom: 24px;
    left: 24px;
}

.graphic_design {
    grid-column: span 4;
    grid-row: span 6;
    background-color: #755CDE;
}

.ui_ux {
    grid-column: span 2;
    grid-row: span 3;
    background-color: #F6A560;
}

.apps {
    grid-column: span 2;
    grid-row: span 3;
    background-color: #F39E9E;
}

.photography {
    grid-column: span 4;
    grid-row: span 3;
    background-color: #61C4B7;
}

.illustrations {
    grid-column: span 4;
    grid-row: span 3;
    background-color: #EB7565;
}

.motion_graphics {
    grid-column: span 4;
    grid-row: span 3;
    background-color: #552049;
}

.about {
    height: 445px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 88px;
}

.photo {
    height: inherit;
}

.photo_amy {
    height: 100%;
}

.about_text {
    margin-left: 30px;
    max-width: 540px;
}

.title_about {
    margin-bottom: 34px;
}

.description_about {
    text-align: left;
    margin-bottom: 46px;
}

.btn_orange {
    background-color: #EB7565;
}

.btn_orange:hover, .btn_orange:focus {
    background-color: #F6A560;
}

.slides {
    margin-bottom: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.title_slider {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #030303;
}

.call {
    background-color: #030303;
    border-radius: 10px;
    padding: 80px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
}

.call_text {
    margin-right: 30px;
    max-width: 540px;
}

.call_title {
    color: #FFF7F0;
    margin-bottom: 25px;
}

.call_description {
    color: #FFF7F0;
    text-align: left;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 34px;
    margin-bottom: 64px;
}

@media screen and (max-width: 900px) {
    .graphic_design {
        order: 0;
        grid-column: span 6;
        grid-row: span 4;
    }
    
    .ui_ux {
        order: 1;
        grid-column: span 3;
        grid-row: span 2;
    }
    
    .apps {
        order: 2;
        grid-column: span 3;
        grid-row: span 2;
    }
    
    .photography {
        order: 4;
        grid-column: span 6;
        grid-row: span 2;
    }
    
    .illustrations {
        order: 3;
        grid-column: span 6;
        grid-row: span 2;
    }
    
    .motion_graphics {
        order: 5;
        grid-column: span 6;
        grid-row: span 2;
    }

    .photo {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 769px) {
    h1 {
        font-size: 44px;
        line-height: 55px;
    }

    h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .wrapper {
        margin: 0 auto;
        max-width: 690px;
        padding: 0 39px;
    }

    .header {
        margin-bottom: 64px;
    }

    .caption {
        margin-bottom: 64px;
    }

    .cards {
        height: 570px;
        margin-bottom: 120px;
    }

    .about {
        height: 364px;
        min-width: 772px;      
        margin-bottom: 120px;
        margin-left: -90px;
    }

    .photo_amy {
        height: 100%;
    }
    
    .about_text {
        align-self: center;
        max-width: 340px;
    }
    
    .title_about {
        margin-bottom: 24px;
    }
    
    .description_about {
        margin-bottom: 38px;
    }

    .slides {
        margin-bottom: 120px;
    }

    .call {
        padding: 56px 75px 64px 75px;
        display: flex;
        flex-direction: column;
    }

    .call_title {
        text-align: center;
    }

    .call_description {
        text-align: center;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 700px) {
    .wrapper {
        margin: 0 auto;
        max-width: 580px;
        padding: 0 32px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 36px;
        line-height: 45px;
        text-align: center;
    }

    h2 {
        font-size: 26px;
        line-height: 33px;
    }

    .wrapper {
        margin: 0 auto;
        max-width: 342px;
        padding: 0 16px;
    }

    .header {
        margin-top: 16px;
        margin-bottom: 32px;
    }

    .pic {
        width: 48px;
        height: 48px;
    }
    
    .btn_a {
        font-size: 14px;
        padding: 13px 28px;
    }

    .caption {
        margin-bottom: 32px;
        height: 100%;
    }

    .h1_title {
        margin-bottom: 16px;
    }

    .description {
        max-width: 285px;
    }

    .cards {
        height: 1164px;
        margin-bottom: 100px;
    }

    .graphic_design {
        grid-column: span 12;
        grid-row: span 2;
    }
    
    .ui_ux {
        grid-column: span 6;
        grid-row: span 1;
    }
    
    .apps {
        grid-column: span 6;
        grid-row: span 1;
    }
    
    .photography {
        grid-column: span 12;
        grid-row: span 1;
    }
    
    .illustrations {
        grid-column: span 12;
        grid-row: span 1;
    }
    
    .motion_graphics {
        grid-column: span 12;
        grid-row: span 1;
    }

    .about {
        height: inherit;
        min-width: 100%;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 100px;
        margin-left: 0;
    }

    .photo {
        width: 300px;
        height: 300px;
        margin-bottom: 40px;
    }

    .title_slider {
        font-size: 24px;
        line-height: 30px;
    }

    .about_text {
        text-align: center;
    }

    .description_about {
        text-align: center;
        margin-bottom: 24px;
    }

    .slides {
        margin-bottom: 100px;
    }

    .call {
        padding: 49px 24px;
        margin-bottom: 40px;
    }

    .call_text {
        margin-bottom: 24px;
        margin-right: 0;
    }

    .call_description {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 24px;
    }

    .footer {
        margin-bottom: 32px;
    }
    
}