@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

body {
    overflow-x: hidden;
    background-color: #FFF7F0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 71px;
    text-align: center;
    color: #030303;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #030303;
}

h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #7A746E;
}

.wrapper {
    margin: 0 auto;
    max-width: 1110px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 34px;
    margin-bottom: 66px;
}

.pic {
    width: 64px;
    height: 64px;
}

.btn_a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FFF7F0;
    padding: 14px 45px;
    border-radius: 28px;
    background-color: #030303;
    text-align: center;
    cursor: pointer;
}

.btn_a:hover, .btn_a:focus {
    background-color: #755CDE;
}

.caption {
    max-width: 752px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.cards {
    height: 364px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 136px;
}

.card {
    border-radius: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 24px;
    position: relative;
}

.thumb {
    position: absolute;
    top: 24px;
    right: 24px;
}

.subscription {
    position: absolute;
    bottom: 24px;
    left: 24px;
}

.graphic_design {
    grid-column: span 4;
    grid-row: span 2;
    background-color: #755CDE;
}

.ui_ux {
    grid-column: span 2;
    grid-row: span 1;
    background-color: #F6A560;
}

.apps {
    grid-column: span 2;
    grid-row: span 1;
    background-color: #F39E9E;
}

.photography {
    grid-column: span 4;
    grid-row: span 1;
    background-color: #61C4B7;
}

.illustrations {
    grid-column: span 4;
    grid-row: span 1;
    background-color: #EB7565;
}

.motion_graphics {
    grid-column: span 4;
    grid-row: span 1;
    background-color: #552049;
}

.about {
    height: 445px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 88px;
}

.photo {
    height: inherit;
}

.photo_amy {
    height: 100%;
}

.about_text {
    max-width: 540px;
}

.title_about {
    margin-bottom: 34px;
}

.description_about {
    text-align: left;
    margin-bottom: 46px;
}

.btn_orange {
    background-color: #EB7565;
}

.btn_orange:hover, .btn_orange:focus {
    background-color: #F6A560;
}

.slider {
    margin-bottom: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.title_slider {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #030303;
}

.slider_wrapper {
    height: 360px;
    width: 100vw;
    position: relative;
}

.slides {
    height: inherit;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
}

.arrows {
    margin: 0 auto;
    width: 144px;
    display: flex;
    justify-content: space-between;
}

.btn_left {
    background: url(../assets/icon-arrow-left.svg) no-repeat center;
}

.btn_right {
    background: url(../assets/icon-arrow-right.svg) no-repeat center;
}

.btn_left, .btn_right {
    border: none;
    width: 64px;
    height: 64px;
    border-radius: 38px;
    background-color: #030303;
    cursor: pointer;
}

.btn_left:hover, .btn_right:hover {
    border: none;
    background-color: #755CDE;
}

.call {
    background-color: #030303;
    border-radius: 10px;
    padding: 80px 95px 80px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
}

.call_text {
    max-width: 540px;
}

.call_title {
    color: #FFF7F0;
    margin-bottom: 25px;
}

.call_description {
    color: #FFF7F0;
    text-align: left;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 34px;
    margin-bottom: 64px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 44px;
        line-height: 55px;
    }

    h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .wrapper {
        margin: 0 auto;
        max-width: 690px;
        padding: 0 39px;
    }

    .photo {
        height: 364px;
    }
}